<div class="player-status">
	<div>
		<label>Player Name:</label>
		<span *ngIf="!editingName">{{ playerName }}</span>
		<input *ngIf="editingName" type="text" [(ngModel)]="playerName">
		<button *ngIf="!editingName" (click)="editingName = true">Edit</button>
		<button *ngIf="editingName" (click)="setPlayerName(playerName); editingName = false">OK</button>
		<button *ngIf="editingName" (click)="editingName = false">Cancel</button>
	</div>
	<div>
		<label>Total Bet:</label>
		<span *ngIf="!editingTotalBet">{{ totalBet }}</span>
		<input *ngIf="editingTotalBet" type="number" [(ngModel)]="totalBet">
		<button *ngIf="!editingTotalBet" (click)="editingTotalBet = true">Edit</button>
		<button *ngIf="editingTotalBet" (click)="updateTotalBet(totalBet); editingTotalBet = false">OK</button>
		<button *ngIf="editingTotalBet" (click)="editingTotalBet = false">Cancel</button>
	</div>
	<div>
		<label>Balance:</label>
		<span *ngIf="!editingBalance">{{ balance }}</span>
		<input *ngIf="editingBalance" type="number" [(ngModel)]="balance">
		<button *ngIf="!editingBalance" (click)="editingBalance = true">Edit</button>
		<button *ngIf="editingBalance" (click)="updateBalance(balance); editingBalance = false">OK</button>
		<button *ngIf="editingBalance" (click)="editingBalance = false">Cancel</button>
	</div>
</div>