<app-player-status></app-player-status>

<div class="betting-area">
	<app-bet-panel (currentBetAmountChanged)="handleBetAmountChange($event)"></app-bet-panel>
</div>

<div class="labels-container">
	<div class="hand-label player">Player</div>
	<div class="hand-label banker">Banker</div>
</div>
<div class="game-table">
	<div class="hand-container player-hand">
		<div class="hand">
			<div *ngFor="let card of playerCards" class="card">
				<img [src]="getCardImage(card)" [alt]="card.rank + ' of ' + card.suit" class="card-image">
			</div>
		</div>
	</div>

	<div class="hand-container banker-hand">
		<div class="hand">
			<div *ngFor="let card of bankerCards" class="card">
				<img [src]="getCardImage(card)" [alt]="card.rank + ' of ' + card.suit" class="card-image">
			</div>
		</div>
	</div>
</div>