.hand-label {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
}

.game-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #eedcb3;
  color: #000;
  height: 100vh;
  width: 100vw;
  padding-top: 20px;
  position: relative;
}

.app-player-status {
  position: relative;
  top: 0;
  right: 0;
  margin: 10px;
}

.betting-area {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}

.hand {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 50%;
  flex-wrap: nowrap;
}

.player-hand,
.banker-hand {
  justify-content: center;
  /* Középre igazítás */
  gap: 15px;
  /* A kártyák közötti hely */
}

.player-hand {
  left: 10%;
  /* Az asztal bal oldalától való távolság */
}

.banker-hand {
  right: 10%;
  /* Az asztal jobb oldalától való távolság */
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.card {
  animation: slideInFromRight 0.5s ease-out;
  width: 14rem;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-size: 1.5em;
  position: relative;
  /* A flexbox konténerhez viszonyított helyzet */
}

.card:nth-child(1) {
  left: 0;
  z-index: 3;
}

.card:nth-child(2) {
  left: 100px;
  /* Egyes kártyák közötti távolság */
  z-index: 2;
}

.card:nth-child(3) {
  z-index: 1;
  transform: rotate(90deg);
  /* Elforgatás */
  left: 50%;
  /* Középre helyezés */
  transform: translateX(-50%) rotate(90deg);
  /* Középre igazítás az X tengelyen és elforgatás */
}
