<div class="bet-panel">
	<div class="chips">
		<div *ngFor="let chip of chips" class="chip" (click)="selectChip(chip)">
			{{ chip.label }}
		</div>
	</div>
	<div class="bet-options">
		<div *ngFor="let option of betOptions" (click)="placeBet(option.type)">
			<span class="label">{{ option.label }}</span>
			<span class="odds">{{ option.odds }}</span>
		</div>
	</div>
	<div class="current-bet-amount">
		Current Bet: {{ currentBetAmount }}
	</div>
	<div class="bet-operations">
		<button (click)="undoLastBet()">UNDO</button>
		<button (click)="doubleBet()">DOUBLE</button>
	</div>
</div>